body {
    font-family: 'Arial', sans-serif;
    background-color: #eedada;
    margin-bottom: 20px;
    padding: 0;
  }
  .search-filter-sort{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .search, .filter, .sort{
      margin:30px 30px 15px 30px;
      label{
        color: #1d1f1f;
      }
      input{
        width: 200px;
      }
  }
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input, select {
    padding: 8px;
    border: 1px solid rgb(24, 48, 166);
    border-radius: 4px;
  }
  
  #productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-card {
    width: 250px;
    background-color: rgb(174, 199, 195);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  #pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  button {
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #283228;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
